/*side bar*/

body {
  background-color: rgb(243, 248, 252);
}

.sidebar-container {
  position: fixed;
  font-family: "Poppins", sans-serif;
  text-align: left;
  width: 280px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #174c6d;
  color: #fff;
  border-radius: 0 20px 20px 0;
}

.content-container {
  padding-left: 250px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 16px;
  background-color: #1a1a1a;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 30px;
}

.sidebar-navigation li a {
  text-decoration: none;
  font-size: 16px;
  padding: 10px 10px 8px 6px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 20px;
}

.sidebar-navigation li::before {
  background-color: #67bc00;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 16px;
  text-transform: uppercase;
  background-color: #67bc00;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*input boxes style*/

input::placeholder {
  font-size: 16px;
}

#name {
  margin-bottom: 10px;
}

#id,
#health_m,
#pnum,
#mobile,
#fax,
#name,
#address,
#country,
#city,
#gender,
#bday,
#age,
#vuntil {
  margin-bottom: 25px;
}

.id {
  margin-left: 150px;
  margin-top: 0px;
}

.gender {
  margin-right: 20px;
  margin-top: 0px;
}

.health_m {
  margin-right: 20px;
  margin-top: 0px;
}

.email {
  margin-left: 220px;
  margin-top: 0px;
}

.city {
  margin-left: 360px;
  margin-top: 0px;
}
.zip {
  margin-left: 310px;
  margin-top: 0px;
}

/* if I want to center the label and input
  .name{
    margin-left: 20px;
  }
  */

.fax {
  margin-right: 21px;
}
.age {
  margin-left: 350px;
}

.bday {
  margin-right: 10px;
}

.vuntil {
  margin-right: 1px;
}

.pnum {
  margin-right: 10px;
  margin-left: 100px;
}

#pnum,
#vuntil {
  font-size: 16px;
  height: 25px;
  width: 197px;
}

input,
select {
  font-size: 16px;
  height: 25px;
  width: 200px;
}

/*patients details*/
.patients {
  /*background: #6cb3df; */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 90%;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 40px;
  padding-bottom: 32px;
  padding-left: 90px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
}

h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 80px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.connection {
  background: #6cb3df;
  font-family: sans-serif;
  font-size: 18px;
  width: 48%;
  height: 90%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
}

.address {
  background: #6cb3df;
  font-family: sans-serif;
  font-size: 18px;
  width: 48%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
}

.hmo {
  background: #6cb3df;
  font-family: sans-serif;
  font-size: 18px;
  width: 48%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  float: left;
}

/* search button
.wrapper {
  text-align: center;
  margin-right:540px;
  margin-left:525px;
} */

.button {
  margin-top: 10px;

  background-color: #67bc00; /* Green */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
}
.patients p {
  margin-bottom: 2px;
}

/*  Search and Print button*/
.search {
  margin-left: 525px;
}
.primary-btn {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #76c727;
}
.primary-btn {
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}
.primary-btn:focus {
  outline: none;
}
.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  transition: all 0.3s ease 0s;
}
.primary-btn:hover {
  color: #fff;
}
.primary-btn:hover span {
  color: #fff;
  right: 20px;
}
.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}
.primary-btn.white span {
  color: #fff;
}
.primary-btn.white:hover {
  background: #fff;
  color: #67bc00;
}
.primary-btn.white:hover span {
  color: #67bc00;
}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.primary-btn {
  padding-left: 30px;
  padding-right: 30px;
}
